<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Login Page</title>
</head>
<body>
    <div>
        <h1>Get Started</h1>
        <form>
            <input type="email" placeholder="Email"><br><br>
            <input type="password" placeholder="Password"><br><br>
            <label>
                <input type="checkbox"> Remember me
            </label>
            <button type="submit">Log In</button>
        </form>
        <p>Don’t have an account? <a href="#">Sign up</a></p>
    </div>
</body>
</html>