<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Task with Thymeleaf</title>
</head>
<body>
  <table border="1" align="center" margin="10px" width="80%">
    <tr>
      <th align="center">ID</th>
      <th align="center">Description</th>
      <th align="center">Status</th>
    </tr>
    <tr th:each="tasks : ${task}">
      <td th:text="${tasks.id}" align="center"></td>
      <td th:text="${tasks.description}" align="center"></td>
      <td th:text="${tasks.status}" align="center"></td>
    </tr>
  </table>

</body>
</html>